.jumbotron-wrapper{
    /* background: url('../img/banner-bg.png'); */
    background: #41773f;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    position: relative;
}
.card-image{
    background: #f6f6f6;
    height: 320px;
    width: 100%;
}
.card-image > .card-img-top{
    object-fit: contain;
    max-height: 320px;
}

#aboutUs .card img{
    height: 236px;
    max-height: 236px;
}
#age::placeholder {
    color: #fff;
}
.heading-text h1 {
    color: #fff;
    margin: 0;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.3px;
}
.description-text p {
    margin-top: 32px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.3px;
}
.form-control:focus {
    border-color: #78f774;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(212, 247, 211);
  }
.min-height-500{
    min-height: 500px;
}
.navbar-toggler{
    border-color: #ffffff;
}
@media screen and (min-width:800px){
    .heading-text h1 {
        font-size: 64px;
    }
}